*{font-size:15px;outline: none!important;text-decoration: none!important;}
body{height: 100vh;display: flex;flex-direction: column;}
header{z-index: 999;background-color: white!important;}
.navbar{background-color: white!important;}

.nav-link{
    color: #ddaa44!important;
}
.containers {
    display: inline-block;
    cursor: pointer;
    margin-top:5px;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #ddaa44;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -4px);
}
.judul{
    font-family: 'Palanquin Dark', sans-serif;
}
h1.judul{
    font-size: 60px;color: white
}
.bg-orange{
    background-color: #ddaa44
}
.text-orange{
    color: #ddaa44;
}
.thumnail-judul{
    font-size: 20px;
}
.thumnail-judul::before{
    content: " ";
    position: absolute;
    height: 4px;
    width: 60px;
    background-color: black;
    top: 0;
    left: 50%;
    margin-left: -30px;
}
.checked {
    color: #ddaa44;
}
.nameQuote{
    color: #ddaa44;
}
a.nameQuote{
    padding-bottom: 15px;
    border-bottom: 1px solid #ddaa44;
}
a.nameQuote:hover{
    color: #947d4f;
}

.fixed-footer{
    bottom: 0;
    left: 0;
    background-color: white;
}
#bg-oranges{
    height: 365px;
}
#bg-oranges::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0px 0px 330px 0px;
    background: #F09819;
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);
    background: linear-gradient(to right, #EDDE5D, #F09819);
    z-index: -1;
    top: 0;
    left: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ddaa44;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #947d4f;
}

.button-animate{
    background-color: white;
    color: #ddaa44;
    transition: all 0.3s;
    box-shadow: inset 0 0 0 0 #ddaa44;
    width: 150px;
    height: 50px;
}

.button-animate:hover{
    box-shadow: inset 300px 0 0 0 #ddaa44;
    color: white;
}

.button-animate2{
    background-color: #ddaa44;
    color: white;
    transition: all 0.3s;
    width: 150px;
    height: 50px;
    position: relative;
    z-index: 1;
}

.button-animate2::before{
    transition: 0.5s all;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: " ";
    background-color: #947d4f;
}

.button-animate2:hover::before{
    transition: 0.5s all;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    *{
        font-size: 12px;
    }
    h1.judul {
        font-size: 30px;
    }

    #bg-oranges {
        height: 245px;
    }

    #bg-oranges::before{
        border-radius: 0px 0px 130px 0px;
    }
}